
body,
.ad,
.sm {
  font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif
}

a {
  color: currentColor;
  text-decoration: none
}

.clearfix::after {
  content: '';
  display: table;
  clear: both
}

.ad {
  width: 9.375rem;
  color: #444;
  color: rgba( 0, 0, 0, .75);
  background-color: #fff;
  background-color: rgba( 255, 255, 255, .5);
  position: fixed;
  z-index: 1000;
  top: .625rem;
  left: .625rem;
  padding: .5rem .625rem
}

.ad--dark {
  color: #ddd;
  color: rgba( 255, 255, 255, .75);
  background-color: #111;
  background-color: rgba( 0, 0, 0, .5)
}

.ad__close {
  width: .625rem;
  height: .625rem;
  background-color: #777;
  background-color: rgba( 0, 0, 0, .5);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: -.25rem;
  right: -.25rem;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out
}

.ad--dark .ad__close {
  background-color: #ddd;
  background-color: rgba( 255, 255, 255, .75)
}

.ad__close:hover,
.ad__close:focus {
  -webkit-transform: scale( 1.25);
  -ms-transform: scale( 1.25);
  transform: scale( 1.25)
}

#carbonads {
  font-size: .875rem;
  letter-spacing: -.071em;
  line-height: 1.125rem
}

#carbonads a {
  color: currentColor;
  display: block;
  margin-top: .313rem
}

#carbonads .carbon-poweredby {
  font-size: .75rem;
  text-transform: uppercase;
  color: #aaa;
  color: rgba( 0, 0, 0, .25)
}

.ad--dark #carbonads .carbon-poweredby {
  color: #999;
  color: rgba( 255, 255, 255, .25)
}

.sm {
  width: 100%;
  height: 2.5rem;
  color: #444;
  color: rgba( 0, 0, 0, .75);
  background-color: #fff;
  background-color: rgba( 255, 255, 255, .5);
  overflow: hidden;
  position: fixed;
  z-index: 1001;
  bottom: 0;
  left: 0;
  padding: .625rem 1.25rem 0
}

.sm--dark {
  color: #ddd;
  color: rgba( 255, 255, 255, .75);
  background-color: #111;
  background-color: rgba( 0, 0, 0, .5)
}

.sm ul {}

.sm li {
  float: right;
  margin-left: 1rem
}

.sm li:first-child {
  float: left;
  margin-left: 0
}

.sm .googleplus-one {
  max-width: 60px
}

.sm .twitter-follow>*:not( :first-child),
.sm .twitter-share>*:not( :first-child) {
  display: none
}

@media screen {
  @media(min-width: 0px) {
    .sm li:last-child {
      opacity:0;
      -webkit-transition: opacity .25s ease-in-out;
      transition: opacity .25s ease-in-out
    }
    .sm:hover li:last-child {
      opacity: 1
    }
  }
}

.sm__back {
  font-size: .875rem;
  font-weight: 700;
  color: currentColor;
  text-transform: uppercase;
  position: relative
}

.sm__back::before {
  width: 0;
  height: 0;
  border: .313rem solid transparent;
  border-left: none;
  border-right-color: currentColor;
  content: '';
  display: inline-block;
  position: relative;
  left: 0;
  margin-right: .313rem;
  -webkit-transition: left .25s ease-in-out;
  transition: left .25s ease-in-out
}

.sm__back:hover::before,
.sm__back:focus::before {
  left: -.313rem
}

@media screen and (max-width:40em),
screen and (max-height:40em) {
  .ad,
  .sm {
    display: none
  }
}