* {
  transition: all 0.35s ease-in-out;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
  color: #393D44; /* #0f3c4b */ /*#17568C*/
  background: linear-gradient(180deg, #369 29%, #e7e7e7 29%);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 15px solid #369;
}

a:hover {
  text-decoration: none;
  color: white;
}

label {
  margin-bottom: -2px;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
  outline: none !important;
}

.container {
  width: 100%;
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 300;
  color: #ffffff; /* #0f3c4b */
  margin-top: 25px;
  margin-bottom: 25px;
  /*-webkit-animation: appear-from-inside .35s ease-in-out;
  animation: appear-from-inside .35s ease-in-out;*/
}

.container h1 a:hover,
.container h1 a:focus {
  color: #fcfcfc; /* #39bfd3 */
  text-decoration: none;
}

.container footer {
  color: #1d1d1d;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center
}

.container footer p+p {
  margin-top: 1em;
}

.container footer a:hover,
.container footer a:focus {
  text-decoration: underline;
}

footer a:hover {
  color: #17568C;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  background: transparent !important;
  overflow: hidden;
  -webkit-animation: appear-from-inside .35s ease-in-out;
  animation: appear-from-inside .35s ease-in-out;
}

.file-uploader {
  padding: 0;
  flex: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 30px);
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%),
    0 3px 1px -2px rgb(0 0 0 / 10%),
    0 1px 5px 0 rgb(0 0 0 / 6%);
  background: transparent !important;
}

.select-btn {
  background: #369;
  border-color: #369;
}

.select-btn:hover,
.select-btn:focus,
.select-btn:active {
  background: #17568C;
  border-color: #17568C;
  outline: none !important;
  box-shadow: none !important;
}

.file-uploader *:focus {
  outline: none;
}

#upload-file {
  width:100%;
}

.card-body {
  background-color: white;
}

.card-header, .card-footer  {
  background-color: #e5e5e5;
}

.card-footer .form-group {
  margin-bottom: 0;
}

.card-header, .card-footer {
  padding: .75em .75em !important;
}

.input-file {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.input-group * {
  border-radius: 0 !important;
}

.form-group .input-group:nth-child(2) {
  posistion: relative;
  top: -1px;
}

#frontFileName {
  background: white !important;
  border: white;
}

.col-form-label {
  text-align: right;
  padding-right: 0;
}

.input-group-prepend > .input-group-text,
.input-group-append > .input-group-text {
  background: transparent;
}

.input-group-prepend > .input-group-text {
  border-right: none;
}

/*
.input-group-prepend + input {
  border-left: none;
  border-right: none;
}
*/

.input-group-append > .input-group-text {
  color: #aaa;
}

.bottom {
  width: 100%;
  height: 32px; 
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes appear-from-inside {
  from {
    /*transform: scale(0);*/
    opacity: 0;
  }
  75% {
    /*transform: scale(1.1);*/
    opacity: 75%;
  }
  to {
    /*transform: scale(1);*/
    opacity: 100%;
  }
}

@keyframes appear-from-inside {
  from {
    /*transform: scale(0);*/
    opacity: 0;
  }
  75% {
    /*transform: scale(1.1);*/
    opacity: 75%;
  }
  to {
    /*transform: scale(1);*/
    opacity: 100%;
  }
}

@media (max-width: 720px) {
  .container h1 {
    font-size: 24px;
  }
  
  .file-uploader > .input-group-addon,
  .select-btn {
    width: 100%;
    flex: 0 0 100%;
  }
  
  .col-form-label {
    text-align: left;
  }
  
  .bottom {
    height: unset;
    flex-direction: column;
  }
}